// font size
$heading1: 28px;
$heading2: 24px;
$heading3: 20px;
$paragraph: 16px;

// colors
$primary-color: #ede8e3;
$secondary-color: #f4f6f8;
$accent-color: #060710;
$question-color: #191d63;
$muted-color: #928d88;
